#sudo nano /etc/systemd/system/bees.target

[Unit]
Description=Bees Management System
Wants=bees-app.service bees-fan.service bees-heartbeat.service
After=network.target

[Install]
WantedBy=multi-user.target